/* Global styles */
body {
  background-color: #fff; /* Set background to white */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Container styles */
#layoutSidenav_content {
  background-color: #fff !important; /* Set background to white for entire layout content */
  min-height: 100vh; /* Ensure it covers the full height */
}

/* Specific component styles */
.container-fluid {
  padding: 2rem;
  background-color: #fff; /* Set background to white */
}

/* Card styles */
.card {
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.card-body {
  font-size: 1.25rem;
}

.card-footer {
  font-size: 1rem;
}

/* Breadcrumb styles */
.breadcrumb {
  background: none;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 1rem;
}

.breadcrumb-item.active {
  color: #6c757d;
}

/* Header text styles */
.header-text {
  margin-bottom: 1rem;
}

.container-fluid {
  padding: 15px;
}

.header-text {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.small-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-orange {
  background-color: #ff7f00;
  border: none;
  color: white;
}

.btn-orange:hover {
  background-color: #e67809;
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

/* Pagination styling */
.pagination {
  justify-content: center;
}

.page-item .page-link {
  border: none;
  color:#ff7f00;
}

.page-item.active .page-link {
  background-color: #ff7f00;
  border: none;
  color: white;
}

.page-item .page-link:hover {
  background-color: #ff7f00;
  border: none;
  color: white;
}


