/* Dashboard.css */
.header-text {
  color: orange; /* Change text color to orange */
  font-size: 24px; /* Ensure uniform font size */
  font-weight: bold; /* Make the text bold */
  margin-bottom: 20px; /* Add some space below the header */
}

.no-transactions {
  color: orange; /* Change text color to orange */
  font-size: 24px; /* Larger font size */
  text-align: center; /* Center the text */
  margin-top: 50px; /* Add some space above the message */
}
